sca/xml/group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="group">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="behaviour" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="person" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="profile" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="frame" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="bb">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:short" name="ul_x" use="optional"/>
                                        <xs:attribute type="xs:short" name="ul_y" use="optional"/>
                                        <xs:attribute type="xs:short" name="lr_x" use="optional"/>
                                        <xs:attribute type="xs:short" name="lr_y" use="optional"/>
                                        <xs:attribute type="xs:float" name="or" use="optional"/>
                                        <xs:attribute type="xs:float" name="gp_x" use="optional"/>
                                        <xs:attribute type="xs:float" name="gp_y" use="optional"/>
                                        <xs:attribute type="xs:float" name="gp_or" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:short" name="no" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="type" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="id" use="optional"/>
                  <xs:attribute type="xs:string" name="description" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="description"/>
    </xs:complexType>
  </xs:element>
</xs:schema>